<table border=1>
  <tr>
    <th>Name</th>
    <th>Accreditation</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Available for Rehearsals?</th>
    <th>Available for Performances?</th>
  </tr>
  <% @interpreters.each do |interpreter| %>
    <tr>
      <td><%= interpreter.name %></td>
      <td><%= interpreter.accreditation %></td>
      <% if interpreter.emails.first != nil %>
        <td><%= interpreter.emails.first.address %></td>
      <% else %>
        <td></td>
      <% end %>
      <% if interpreter.phones.first != nil %>
        <td><%= interpreter.phones.first.number %></td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= interpreter.rehearsal_avail %></td>
      <td><%= interpreter.performance_avail %></td>
    </tr>
  <% end %>
</table>
