<h1><%= @shop.name %></h1>
<h2>Website:</h2>
<p><%= @shop.website %></p>
<h2>Email:</h2>
<p>
  <% if @shop.emails.first %>
    <%= @shop.emails.first.address %>
  <% end %>
</p>
<h2>Phone Number:</h2>
<p>
  <% if @shop.phones.first %>
    <%= @shop.phones.first.address %>
  <% end %>
</p>
<h2>Address:</h2>
<p>
  <% if @shop.addresses.first %>
    <%= @shop.addresses.first.combine %>
  <% end %>
</p>
